<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
			body {font-family: Arial;}

			/* Style the tab */
			.tab {
				overflow: hidden;
				border: 1px solid #ccc;
				background-color: #f1f1f1;
			}


/* Style the buttons inside the tab */
			.tab button {
				background-color: inherit;
				float: left;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 14px 16px;
				transition: 0.3s;
				font-size: 17px;
			}

			.button {
				background-color: #4CAF50;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
			}


/* Change background color of buttons on hover */

			.tab button:hover {
				background-color: #ddd;
			}

/* Create an active/current tablink class */
			.tab button.active {
				background-color: #ccc;
			}

/* Style the tab content */
			.tabcontent {
			
				padding: 6px 12px;
				border: 1px solid #ccc;
				border-top: none;
			}

</style>

</head>

<body>

<h2>Tabs</h2>

<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">

<button class="tablinks" onclick="openCity(event, 'Library')">Library</button>
<button class="tablinks" onclick="openCity(event, 'Mybadges')">My badges</button>
<button class="tablinks" onclick="openCity(event, 'Upload')">Upload</button>

</div>

<div id="Library" class="tabcontent">
<h3>Library</h3>
<p>Displays from db</p>
</div>


<div id="Mybadges" class="tabcontent" style="display:none">

<%ids.forEach(function(link){%>
<a href="/selectedBadgeID/<%= link %>">
<img src='/picture/<%= link %>' height="250px" width="250px">
</a>
<%});%> 

</div>


<div id="Upload" class="tabcontent" style="display:none">
<h3>Upload</h3>
<form action="/uploadPic" method="POST" enctype="multipart/form-data">
<input type="file" name="picture" accept="application/x-zip-compressed,image/*">
<input class="btn btn-primary" type="submit" value="submit">
</form>

</div>

<a href="/preview" class="button">NEXT</a>


<script>
function openCity(evt, cityName) {

var i, tabcontent, tablinks;
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}

tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}

document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";
}
</script>

</body>
</html> 