<html>

<head>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script language="javascript" type="text/javascript">
        var type;
        var link;
        var query;
        function dynamicdropdown(listindex) {



            type = listindex;
            switch (listindex) {
                case "price":


                    document.getElementById("price").style.display = "block";
                    document.getElementById("date").style.display = "none";
                    document.getElementById("category").style.display = "none";
                    document.getElementById("title").style.display = "none";
                    break;
                case "date":


                    document.getElementById("price").style.display = "none";
                    document.getElementById("date").style.display = "block";
                    document.getElementById("category").style.display = "none";
                    document.getElementById("title").style.display = "none";

                    break;
                case "category":

                    document.getElementById("value").options[0] = new Option("Select category", "");
                    document.getElementById("value").options[1] = new Option("category1", "category1");
                    document.getElementById("value").options[2] = new Option("category2", "category2");
                    document.getElementById("price").style.display = "none";
                    document.getElementById("date").style.display = "none";
                    document.getElementById("category").style.display = "block";

                    break;
                case "title":


                    document.getElementById("price").style.display = "none";
                    document.getElementById("date").style.display = "none";
                    document.getElementById("category").style.display = "none";
                    document.getElementById("title").style.display = "block";


                    break;
                default:
                    document.getElementById("value").options[0] = new Option("select status", "");
                    break;
            }
            return true;
        }

        function myFunction() {
            var a = document.getElementById("p1").value;
            // document.write(a);

            p1 = document.getElementById("p1").value;
            p2 = document.getElementById("p2").value;
            console.log("p1" + p1);



            // query = {"variants.0.price":{"$gte":p1,"$lte":p2}};
            // query2= "'"+query+"'";
            //query='{"variants.0.price":{"$gte":"0","$lte":"10000"}}';
            link = "getProductPriceRange/" + p1 + "/" + p2;
            // window.location = 'http://something.jsp?name=' + name + '&age=' + age;
            window.location = 'https://2db78424.ngrok.io/' + link;


        }
        function DateRange() {
            d1 = document.getElementById("d1").value;
            d2 = document.getElementById("d2").value;
            console.log("d1" + d1);



            // query = {"variants.0.price":{"$gte":p1,"$lte":p2}};
            // query2= "'"+query+"'";
            //query='{"variants.0.price":{"$gte":"0","$lte":"10000"}}';
            link = "getProductDateRange/" + d1 + "/" + d2;
            // window.location = 'http://something.jsp?name=' + name + '&age=' + age;
            window.location = 'https://2db78424.ngrok.io/' + link;


        }
        function prodTitle() {
            t1 = document.getElementById("t1").value;

            console.log("t1" + t1);



            // query = {"variants.0.price":{"$gte":p1,"$lte":p2}};
            // query2= "'"+query+"'";
            //query='{"variants.0.price":{"$gte":"0","$lte":"10000"}}';
            link = "getProductTitle/" + t1;
            // window.location = 'http://something.jsp?name=' + name + '&age=' + age;
            window.location = 'https://2db78424.ngrok.io/' + link;


        }
    </script>
    <script>

        document.write(sessionStorage.selectedImg + "<br>");
        document.write(sessionStorage.selectedText);

        var link2 = "/selectProduct/" + sessionStorage.selectedImg + "/" + sessionStorage.selectedText;
            // document.getElementById("publish").href = link2;

    </script>
    <script language="JavaScript">
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[name="products"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }


        function withBadges() {
            var pid = "<%= pids %>";
            console.log(pid);
            // for (var i = 0; i < pid.length; i++) {
            //     console.log("<%= pids[i] %>");

            // }
        }

        var selectedProducts = [];
        var selectedProductscount = 0;
        function ticked() {
            selectedProducts = [];

            var selectedCheckboxes = document.querySelectorAll('input[name="products"]:checked');
            selectedProductscount = selectedCheckboxes.length;
            for (var i = 0; i < selectedProductscount; i++) {
                console.log(selectedCheckboxes[i].value);
                selectedProducts.push(selectedCheckboxes[i].value);
                console.log(selectedProducts);
            }
        }
        $(function () {
            $('#select_link').click(function (e) {
                e.preventDefault();
                console.log('select_link clicked');

                var data = {};
                data.bid = sessionStorage.selectedImg;
                data.css = sessionStorage.selectedText;
                data.pid = selectedProducts;

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'https://2db78424.ngrok.io/ajaxtest',
                    success: function (data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                        alert("Badge applied to "+selectedProductscount+" products");
                    }
                });

            });
        });


    </script>
</head>

<body>
    <h1>Filters</h1>
    <div>
        <select id="source" name="source" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
            <option value="default" selected="selected" disabled>select</option>
            <option value="price"> price</option>
            <option value="date">date</option>
            <option value="category">category</option>
            <option value="title">select products using title</option>
        </select> &nbsp;&nbsp;


        <div id="date" style="display:none;">

            <input type="date" id="d1" name="bday">
            <input type="date" id="d2" name="bday">
            <button type="button" onClick="DateRange()">apply </button>





        </div>
        <div id="price" style="display:none;">


            <input type="text" id="p1">
            <input type="text" id="p2">
            <button type="submit" onClick="myFunction()">apply </button>



        </div>
        <div id="category" style="display:none;">
            <script type="text/javascript" language="JavaScript">

                document.write('<select name="value" id="category"><option value="">Select status</option></select>')

            </script>
            <button type="button" onClick="myFunction3()">apply </button>

        </div>
        <div id="title" style="display:none;">


            <input type="text" id="t1">

            <button type="button" onClick="prodTitle()">apply </button>



        </div>





    </div><br>
    <section>
        <div>

            <!-- <button type="button" onClick="myFunction()">apply </button> -->


            <button type="button">reset </button>

        </div>
        <h1>List Of Products</h1>
        <input type="checkbox" onClick="toggle(this)"> select all <br><br><br>
        <div class="flex-container">
            <% for(var i=0; i<items.length; i++) {%>
                <input type="checkbox" name="products" onClick="ticked()" value="<%= pids[i] %>"><%= items[i] %><br>
                    <% } %>
    </section>
    <div>

        &nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox" onClick="withBadges()"> With Badges <br> &nbsp; &nbsp; &nbsp; &nbsp;<input
            type="checkbox"> Without Badges <br><br>

    </div>
    </div>
    <div>
        <a href="#" class="button" id="select_link">
            <button type="button">Publish </button>
        </a>
        <div id="select_div"><a href="" onClick="this.href = link2" id="publish">Test</a></div>

    </div>


</body>

</html>
