<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<section class="outer">
  <DIV class="df">
    <div class="divp">

      <h4>
        SELECTED BADGE
      </h4>
      <img src="https://images-na.ssl-images-amazon.com/images/I/81l6zbSjSzL.jpg" height="200px" width="200px">
      <h4>
        POSITION:
      </h4>
      <div>
     


        <mat-form-field>
          <mat-select placeholder="Position">
            <mat-option *ngFor="let position of positions" [value]="position.name">
              {{position.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <div class="divp">
      <h4>
        PREVIEW:
      </h4>

      <img src="https://images-na.ssl-images-amazon.com/images/I/81l6zbSjSzL.jpg" height="500px" width="500px">

      <br>
      <br>
      <div class="divp">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px;height: 50px;"> NEXT
</button>
</div>
</div>
</DIV>

</section>