<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<h1 > Customize</h1>
  <DIV class="df">
    <div class="divp">

      <h4>
        Selected Badge
      </h4>
      <img src={{selected_image_src}} height="200px" width="200px">
      <br>
      <h4>
        Position:
      </h4>
  <div class="alert alert-secondary" role="alert" >
           Left: {{endOffset.x}} px<br>
           Top: {{endOffset.y}} px
        </div>
      
        <h4>
          Opacity:
        </h4>
    
      <div class="slidecontainer" >
            <input type="range"  #slider max="100" value ="100" class="slider" id="myRange" (input) = "slidervalue(slider.value)">
            <span>Value: {{opvalue}}</span>
          </div>
          <br>
          <br>
          <br>
          <div >

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 200px;height: 50px;" (click)="selectProducts()"> NEXT
    </button>
    </div>
    </div>

    <div class="divp">
      <h4>
        Preview:
      </h4>

      <div class="drag-boundary" #myBounds style="background-image: url('https://cdn.shopify.com/s/files/1/0035/6886/1273/products/man-adjusts-blue-tuxedo-bowtie_925x_bca94da6-e411-475d-af95-9a40bffd217e_1024x1024@2x.jpg'); width: 400px;height: 275px; background-size:cover ">
        

       

         <img ngDraggable class="drag-block" (started)="onStart($event)" (stopped)="onStop($event)" style=`position:relative``top:{{top}}``left:{{left}}` id='badge'
         [preventDefaultEvent]="true" (endOffset)="onMoveEnd($event)" [bounds]="myBounds" [inBounds]="inBounds"  #panel id="image1" src={{selected_image_src}} alt="Cinque Terre" height="60" width="60" /> 
        

        
      </div>

      <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81l6zbSjSzL.jpg" height="500px" width="500px"> -->

      <br>
      <br>
      

</div>
</DIV>
