@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    font-family: 'K2D', sans-serif;
}

.outer{
   
    // flex-direction: column;
    color: indigo;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Slabo 27px', serif;
    font-family: 'K2D', sans-serif;

  
}

.df{
    display: flex; 
    // margin: px 50px 0px 0px;
    // flex-direction: column;
   
}

.divp{
   
    margin: 50px;
}

h4,h3,h2,h1{
    // margin-top: 50px;
    color: rgb(63,81,181);
}

