.outer{
   
    // flex-direction: column;
    color: indigo;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Slabo 27px', serif;

  
}

.df{
    display: flex; 
    // flex-direction: column;
   
}

.divp{
   
    margin: 50px;
}

