<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<nav>
  <ul>
    <li id="first">
      <a routerLink="badge" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons">card_membership</i><div>Select Badge</div>
      </a>
    </li>
    <li>
      <a routerLink="customize" [routerLinkActive]="['activated']">
        <i class="material-icons">edit</i><div>Customize</div>
      </a>
    </li>
    <li>
      <a routerLink="products" [routerLinkActive]="['activated']">
        <i class="material-icons">add_shopping_cart</i><div>Select Products</div>
      </a>
    </li>
    <li>
      <a routerLink="remove" [routerLinkActive]="['activated']">
        <i class="material-icons">remove_circle_outline</i><div>Remove Badges</div>
      </a>
    </li>
  </ul>
</nav>