<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">supervised_user_circle</i>Select Badge
      </a>
    </li>
    <li>
      <a routerLink="customize">
        <i class="material-icons">message</i>Customize
      </a>
    </li>
    <li>
      <a routerLink="products">
        <i class="material-icons">supervised_user_circle</i>Select Products
      </a>
    </li>
    <li>
      <a routerLink="remove">
        <i class="material-icons">supervised_user_circle</i>Remove Badges
      </a>
    </li>
  </ul>
</nav>