.flex-container {
    display: flex;
    
  }
  .outer{
   
    // flex-direction: column;
    color: indigo;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Slabo 27px', serif;

    padding: 50px;
}

.df{
    display: flex; 
    // flex-direction: column;
   
}

.divp{
    padding: 50px;
    margin: 50px;
}