<html>
  <head>
      <!-- <script language="javascript" type="text/javascript">
        function dynamicdropdown(listindex)
        {
            switch (listindex)
            {
            case "price" :
            document.getElementById("value").options[0]=new Option("Select status","");
            document.getElementById("value").options[0]=new Option("1000","1000");
                document.getElementById("value").options[1]=new Option("5000","5000");
                document.getElementById("value").options[2]=new Option("10000","10000");
                break;
            case "date" :
            document.getElementById("value").options[0]=new Option("Select status","");
             document.getElementById("value").options[0]=new Option("1 month", "1 month");
                document.getElementById("value").options[1]=new Option("1 Year","1 year");
                
                break;
            }
            return true;
        }
        </script> -->
  </head>
  <body>
      <h1>Filters</h1>
    <div >
        <select id="source" name="source" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                <option value="default" disabled >select</option>
                <option value="price"> price</option>
    <option value="date">date</option>  
    </select> &nbsp;&nbsp;
 
    <select>
        <option value="default" disabled >select</option>
        <option value="greater than"  >  >  </option>
        <option value="less than" >  <  </option>
          
        </select>&nbsp;&nbsp;
  
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="value" id="value"><option value="">Select status</option></select>')
                </script>
                
        <select id ="value" name= "value">
            <option value="default" disabled >select</option>
          
              
            </select>&nbsp;&nbsp;
        
        </div><br>
        <div>
            <button type="button" >apply </button>&nbsp;&nbsp;&nbsp;
            <button type="button" >reset </button>
        </div>
        <h1>List Of Products</h1>
        <input type="checkbox"> select all <br><br><br> 
        <div class="flex-container">
        <div>
          
           <input type="checkbox"> product 1 <br> 
           <input type="checkbox">  product 2 <br> 
           <input type="checkbox"> product 3 <br> 
           <input type="checkbox"> product 4 <br> <br>


        </div>
        <div >
                
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox"> With Badges <br>
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox"> Without Badges <br><br>

        </div></div>
        <div>
                <button type="button" >Publish </button>

        </div>
  </body> 
 </html>
