@import "~bootstrap/dist/css/bootstrap.min.css";

.flex-container {
  display: flex;
}

button {
  margin: 10px;
}  

input{
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 500px;
  }

  .even {
    background-color: #999999;
  }
}



