<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
<h1>Filters</h1>
<div>
    <!--<select name="filter" [(ngModel)]="selectedFilter" placeholder="Position">
        <option *ngFor="let filter of filters" value={{filter}}>{{filter}}</option>
    </select>

    <div *ngIf="selectedFilter=='Price'">
        <input type="text">
    </div>
    <div *ngIf="selectedFilter=='Date'">
        <input type="text">
    </div>
    <div *ngIf="selectedFilter=='Title'">
        <input type="text">
    </div>-->


    <div>
        <mat-form-field>
            <mat-select placeholder="Filters" [(ngModel)]="selectedFilter">
                <mat-option *ngFor="let filter of filters" [value]="filter.name">
                    {{filter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedFilter=='Price'">
        <input type="text" id="p1" [(ngModel)]="price1">
        <input type="text" id="p2" [(ngModel)]="price2">
        <input type="radio" name="priceRadio" value="withBadges"> With Badges
        <input type="radio" name="priceRadio" value="withoutBadges"> Without Badges
        <input type="radio" name="priceRadio" value="all"> All
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="getPriceProd()">Apply</button>
    </div>
    <div *ngIf="selectedFilter=='Date'">
        <input type="date" id="d1" name="bday" [(ngModel)]="date1">
        <input type="date" id="d2" name="bday" [(ngModel)]="date2">
        <input type="radio" name="dateRadio" value="withBadges"> With Badges
        <input type="radio" name="dateRadio" value="withoutBadges"> Without Badges
        <input type="radio" name="dateRadio" value="all"> All
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="getDateProd()">Apply</button>
    </div>
    <div *ngIf="selectedFilter=='Title'">
        <input type="text" id="t1" [(ngModel)]="title1">
        <input type="radio" name="titleRadio" value="withBadges"> With Badges
        <input type="radio" name="titleRadio" value="withoutBadges"> Without Badges
        <input type="radio" name="titleRadio" value="all"> All
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="getTitleProd()">Apply</button>
    </div>

    <h1>List Of Products</h1>
    <!--<div>
        <input type="checkbox" *ngFor="let title of titles" [value]="title" [id]="title">
        <label for="title" *ngFor="let title of titles">{{title}}</label>
        <p>hdghdf</p>
    </div>-->


    <div class="form-group">
        <div class="form-check" *ngFor="let title of titles">
            <label class="form-check-label">
                <input class="form-check-input" *ngFor="let pid of pids"type="checkbox" [value]="pid">
                    {{title}}
            </label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [disabled]="!titles">Publish</button>
    </div>



</div>